<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--========== UNICONS ==========-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--========== BOXICONS ==========-->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!--========== SWIPER CSS ==========-->
    <!--<link rel="stylesheet" href="assets/css/swiper-bundle.min.css">-->
    
    <link rel="stylesheet" href="{{url_for('static',filename='css/swiper-bundle.min.css')}}">

    <!--========== MAIN CSS ==========-->
    <!--<link rel="stylesheet" href="assets/css/style.css">-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

    <title>Responsive portfolio website - Crypticalcoder</title>
</head>

<body>
    <!--========== SIDEBAR ==========-->
    <div class="nav__toggle" id="nav-toggle">
        <i class="uil uil-bars"></i>
    </div>
    <aside class="sidebar" id="sidebar">
        <nav class="nav">
            <div class="nav__logo">
                <a href="#" class="nav__logo-text">M</a>
            </div>
            <div class="nav__menu">
                <div class="menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#home" class="nav__link active-link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="#about" class="nav__link">About</a>
                        </li>
                        <li class="nav__item">
                            <a href="#skills" class="nav__link">Skills</a>
                        </li>
                        <li class="nav__item">
                            <a href="#work" class="nav__link">Work</a>
                        </li>
                        <li class="nav__item">
                            <a href="#services" class="nav__link">Services</a>
                        </li>
                        <li class="nav__item">
                            <a href="#contact" class="nav__link">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="btn__share">
                <i class="uil uil-share-alt social__share"></i>
            </div>
            <div class="nav__close" id="nav-close">
                <i class="uil uil-times"></i>
            </div>
        </nav>
    </aside>
    <!--========== MAIN ==========-->
    <main class="main">
        <!--===== Home =====-->
        <section class="home" id="home" >
            <div class="home__container container grid">
                <div class="home__social">
                    <span class="home__social-follow">Follow me</span>
                    <div class="home__social-links">
                        <a href="" class="home__social-link">
                            <i class="uil uil-instagram"></i>
                        </a>
                        <a href="" class="home__social-link">
                            <i class="uil uil-facebook"></i>
                        </a>
                        <a href="" class="home__social-link">
                            <i class="uil uil-linkedin-alt"></i>
                        </a>
                    </div>
                </div>
                <img src="{{ url_for('static', filename='img/banner_alt.png') }}" alt="" class="home__img">
                <div class="home__data">
                    <h1 class="home__title">Hi, I am Indresh</h1>
                    <h3 class="home__subtitle">{{about_me['position']}}</h3>
                    <p class="home__description">
                      {{about_me['intro']}}
                    </p>
                    <a href="#about" class="button">
                        <i class="uil uil-user button__icon"></i>
                        More About Me
                    </a>

                </div>
                <div class="my__info">
                    
                    <div class="info__item">
                        <i class="uil uil-facebook-messenger info__icon"></i>
                        <div>
                            <h3 class="info__title">Messenger</h3>
                            <span class="info__subtitle">usr.IBH</span>
                        </div>
                    </div>
                    <div class="info__item">
                        <i class="uil uil-whatsapp info__icon"></i>
                        <div>
                            <h3 class="info__title">WhatsApp</h3>
                            <span class="info__subtitle">+91-9564173039</span>
                        </div>
                    </div>
                    <div class="info__item">
                        <i class="uil uil-envelope-alt info__icon"></i>
                        <div>
                            <h3 class="info__title">Email</h3>
                            <span class="info__subtitle">indresh2neel@gmail.com</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!--===== About =====-->
        <section class="about section" id="about">
            <h2 data-heading="My Intro" class="section__title">
                About Me
            </h2>
            <div class="about__container container grid">
                <img src="{{ url_for('static', filename='img/about.jpeg') }}" alt="" class="about__img">
                <div class="about__data">
                    <h3 class="about__heading">I am Indresh</h3>
                    <p class="about__description">{{about_me['about']}}</p>

                    <div class="about__info">
                        {%for i in about_details%}
                        <div class="about__box">
                            <i class="{{i['icon']}} about__icon"></i>
                            <h3 class="about__title">{{i['title']}}</h3>
                            <span class="about__subtitle">{{i['exp']}}</span>
                        </div>
                        {%endfor%}
                        
                        
                    </div>
                    <a href="#contact" class="button"><i class="uil uil-navigator button__icon"></i>
                    Contact Me
                    </a>
                </div>
            </div>
        </section>
        <!--===== Qualification =====-->
        <section class="qualification section">
            <h2 data-heading="My journey" class="section__title">Qualification</h2>

            <div class="qualification__container container grid">
                <div class="education">
                    <h3 class="qualification__title">
                        <i class="uil uil-graduation-cap"></i>Education
                    </h3>
                    <div class="timeline">
                        {%for i in qualification['education']%}
                        <div class="timeline__item">
                            <div class="circle__dot"></div>
                            <h3 class="timeline__title">
                                {{i['organization']}}
                            </h3>
                            <p class="timeline__text">{{i['title']}}</p>
                            <span class="timeline__date">
                                <i class="uil uil-schedule"></i>
                                {{i['years']}}
                            </span>
                        </div>
                        {%endfor%}

                    </div>
                </div>
                <div class="experience">
                    <h3 class="qualification__title">
                        <i class="uil uil-channel"></i>Experience
                    </h3>
                    <div class="timeline">
                        {%for i in qualification['experience']%}
                        <div class="timeline__item">
                            <div class="circle__dot"></div>
                            <h3 class="timeline__title">
                                {{i['organization']}}
                            </h3>
                            <p class="timeline__text">{{i['title']}}</p>
                            <span class="timeline__date">
                                <i class="uil uil-schedule"></i>
                                {{i['years']}}
                            </span>
                        </div>
                        {%endfor%}
                        
                    </div>
                </div>
            </div>
        </section>
        <!--===== Skills =====-->
        <section class="skills section" id="skills">
            <h2 data-heading="My Abilities" class="section__title">My Experience</h2>
            <div class="skills__container container grid">
                <div class="skills__tabs">
                    {%for i in skills%}
                    {%if loop.index==1%}
                    <div class="skills__header skills__active" data-target="#{{i['target']}}">
                        <i class="{{i['icon']}} skills__icon"></i>
                        <div>
                            <h1 class="skills__title">{{i['header']}}</h1>
                            <span class="skills__subtitle">More than {{i['exp']}}</span>
                        </div>
                        <i class="uil uil-angle-down skills__arrow"></i>
                    </div>
                    {%else%}
                    <div class="skills__header" data-target="#{{i['target']}}">
                        <i class="{{i['icon']}} skills__icon"></i>
                        <div>
                            <h1 class="skills__title">{{i['header']}}</h1>
                            <span class="skills__subtitle">More than {{i['exp']}}</span>
                        </div>
                        <i class="uil uil-angle-down skills__arrow"></i>
                    </div>
                    {%endif%}
                    {%endfor%}
                    
                </div>
                <div class="skills__content">
                    {%for i in skills%}
                        {%if loop.index==1%}
                            <div class="skills__group skills__active" data-content id="{{i['target']}}">
                                <div class="skills__list grid">
                                    {%for tool in i['tools']%}
                                    
                                    <div class="skills__data">
                                        <div class="skills__titles">
                                            <h3 class="skills__name">{{tool['name']}}</h3>
                                            <span class="skills__number">{{tool["perct"]}}%</span>
                                        </div>
                                        <div class="skills__bar">
                                            <span class="skills__percentage" style="width:{{tool['perct']}}%"></span>
                                        </div>
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>
                        {%else%}
                            <div class="skills__group" data-content id="{{i['target']}}">
                                <div class="skills__list grid">
                                    {%for tool in i['tools']%}
                                    
                                    <div class="skills__data">
                                        <div class="skills__titles">
                                            <h3 class="skills__name">{{tool['name']}}</h3>
                                            <span class="skills__number">{{tool["perct"]}}%</span>
                                        </div>
                                        <div class="skills__bar">
                                            <span class="skills__percentage" style="width:{{tool['perct']}}%"></span>
                                        </div>
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>
                        {%endif%}
                    {%endfor%}

                    <div class="skills__group skills__active" data-content id="frontend">
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">HTML</h3>
                                    <span class="skills__number">90%</span>
                                </div>
                                <div class="skills__bar">
                                    <span class="skills__percentage" style="width:90%"></span>
                                </div>
                            </div>
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">CSS</h3>
                                    <span class="skills__number">80%</span>
                                </div>
                                <div class="skills__bar">
                                    <span class="skills__percentage" style="width:80%"></span>
                                </div>
                            </div>
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">JS</h3>
                                    <span class="skills__number">70%</span>
                                </div>
                                <div class="skills__bar">
                                    <span class="skills__percentage" style="width:70%"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="skills__group" data-content id="backend">
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">HTML Backend</h3>
                                    <span class="skills__number">90%</span>
                                </div>
                                <div class="skills__bar">
                                    <span class="skills__percentage" style="width:90%"></span>
                                </div>
                            </div>
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">CSS Backend</h3>
                                    <span class="skills__number">80%</span>
                                </div>
                                <div class="skills__bar">
                                    <span class="skills__percentage" style="width:80%"></span>
                                </div>
                            </div>
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">JS Backend</h3>
                                    <span class="skills__number">70%</span>
                                </div>
                                <div class="skills__bar">
                                    <span class="skills__percentage" style="width:70%"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="skills__group" data-content id="design">
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">HTML Design</h3>
                                    <span class="skills__number">90%</span>
                                </div>
                                <div class="skills__bar">
                                    <span class="skills__percentage" style="width:90%"></span>
                                </div>
                            </div>
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">CSS Design</h3>
                                    <span class="skills__number">80%</span>
                                </div>
                                <div class="skills__bar">
                                    <span class="skills__percentage" style="width:80%"></span>
                                </div>
                            </div>
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">JS Design</h3>
                                    <span class="skills__number">70%</span>
                                </div>
                                <div class="skills__bar">
                                    <span class="skills__percentage" style="width:70%"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--===== Work =====-->
        <section class="work section" id="work">
            <h2 data-heading="My Portfolio" class="section__title">Recent Works</h2>
            <div class="work__filters">
                <span class="work__item active-work" data-filter="all">All</span>
                <span class="work__item" data-filter=".ML">ML</span>
                <span class="work__item" data-filter=".DL">DL</span>
                <span class="work__item"data-filter=".MLOps">MLOps</span>
            </div>
            <div class="work__container container grid">
                {%for i in projects%}
                <div class="work__card mix {{i['category']}}">
                    
                    <h3 class="work__title">{{i['title']}}</h3>
                    <p class="work__description"> {{i['desc'][:150]}}...</p>
                    <span class="work__button">Show More...
                        <i class="uil uil-arrow-right work__button-icon"></i>
                    </span>
                    <div class="portfolio__item-details">
                        <h3 class="details__title">{{i['title']}}</h3>
                        <p class="details__description">
                            {{i['desc']}}
                        </p>
                        <ul class="services__modal-services grid work__service-modal">
                            {%for points in i['keypoints']%}
                            <li class="services__modal-service">
                                <i class="uil uil-check-circle services__modal-icon"></i>
                                <p class="services__modal-info">
                                    {{points}}
                                </p>
                            </li>
                            {%endfor%}
                            
                        </ul>
                        <ul class="details__info">
                            <li>Created - <span>{{i['year']}}</span></li>
                            <li class="box_li">Technologies - 
                                {%for tech in i['tech']%}
                                <span class="box">{{tech}}</span>
                                {%endfor%}
                            </li>
                            <li>Role - <span>{{i['role']}}</span></li>
                            <li>View - <span><a href="#">{{i['links']}}</a></span></li>
                        </ul>
                    </div>
                </div>
                {%endfor%}

                <div class="work__card mix app">
                    
                    <h3 class="work__title">APP demo</h3>
                    <span class="work__button">Demo
                        <i class="uil uil-arrow-right work__button-icon"></i>
                    </span>
                    <div class="portfolio__item-details">
                        <h3 class="details__title">APP demo</h3>
                        <p class="details__description">
                            Every company needs its networks properly administered and The Boring Compay is no exception. Digging holes is hard and I play my part making sure the whole company stays connected. I lead a team of 5 people and enjoy driving the company to try new technologies.
                        </p>
                        <ul class="details__info">
                            <li>Created - <span>4 Dec 2022</span></li>
                            <li>Technologies - <span>HTML CSS JS</span></li>
                            <li>Role - <span>Frontend</span></li>
                            <li>View - <span><a href="#">www.domain.com</a></span></li>
                        </ul>
                    </div>
                </div>
                <div class="work__card mix web">
                    
                    <h3 class="work__title">APP demo</h3>
                    <span class="work__button">Demo
                        <i class="uil uil-arrow-right work__button-icon"></i>
                    </span>
                    <div class="portfolio__item-details">
                        <h3 class="details__title">APP demo</h3>
                        <p class="details__description">
                            Every company needs its networks properly administered and The Boring Compay is no exception. Digging holes is hard and I play my part making sure the whole company stays connected. I lead a team of 5 people and enjoy driving the company to try new technologies.
                        </p>
                        <ul class="details__info">
                            <li>Created - <span>4 Dec 2022</span></li>
                            <li>Technologies - <span>HTML CSS JS</span></li>
                            <li>Role - <span>Frontend</span></li>
                            <li>View - <span><a href="#">www.domain.com</a></span></li>
                        </ul>
                    </div>
                </div>

                <div class="work__card mix design">
                    
                    <h3 class="work__title"></h3>
                    <span class="work__button">Demo
                        <i class="uil uil-arrow-right work__button-icon"></i>
                    </span>
                    <div class="portfolio__item-details">
                        <h3 class="details__title"></h3>
                        <p class="details__description">
                            Every company needs its networks properly administered and The Boring Compay is no exception. Digging holes is hard and I play my part making sure the whole company stays connected. I lead a team of 5 people and enjoy driving the company to try new technologies.
                        </p>
                        <ul class="details__info">
                            <li>Created - <span>4 Dec 2022</span></li>
                            <li>Technologies - <span>HTML CSS JS</span></li>
                            <li>Role - <span>Frontend</span></li>
                            <li>View - <span><a href="#">www.domain.com</a></span></li>
                        </ul>
                    </div>
                </div>

                <div class="work__card mix app">
                    
                    <h3 class="work__title"></h3>
                    <span class="work__button">Demo
                        <i class="uil uil-arrow-right work__button-icon"></i>
                    </span>
                    <div class="portfolio__item-details">
                        <h3 class="details__title"></h3>
                        <p class="details__description">
                            Every company needs its networks properly administered and The Boring Compay is no exception. Digging holes is hard and I play my part making sure the whole company stays connected. I lead a team of 5 people and enjoy driving the company to try new technologies.
                        </p>
                        <ul class="details__info">
                            <li>Created - <span>4 Dec 2022</span></li>
                            <li>Technologies - <span>HTML CSS JS</span></li>
                            <li>Role - <span>Frontend</span></li>
                            <li>View - <span><a href="#">www.domain.com</a></span></li>
                        </ul>
                    </div>
                </div>

                <div class="work__card mix web">
                    
                    <h3 class="work__title"></h3>
                    <span class="work__button">Demo
                        <i class="uil uil-arrow-right work__button-icon"></i>
                    </span>
                    <div class="portfolio__item-details">
                        <h3 class="details__title"></h3>
                        <p class="details__description">
                            Every company needs its networks properly administered and The Boring Compay is no exception. Digging holes is hard and I play my part making sure the whole company stays connected. I lead a team of 5 people and enjoy driving the company to try new technologies.
                        </p>
                        <ul class="details__info">
                            <li>Created - <span>4 Dec 2022</span></li>
                            <li>Technologies - <span>HTML CSS JS</span></li>
                            <li>Role - <span>Frontend</span></li>
                            <li>View - <span><a href="#">www.domain.com</a></span></li>
                        </ul>
                    </div>
                </div>

                <div class="work__card mix app">
                    
                    <h3 class="work__title"></h3>
                    <span class="work__button">Demo
                        <i class="uil uil-arrow-right work__button-icon"></i>
                    </span>
                    <div class="portfolio__item-details">
                        <h3 class="details__title"></h3>
                        <p class="details__description">
                            bdajsdbjkasbdkasbdkasbdkasb dkas
                        </p>
                        <ul class="details__info">
                            <li>Created - <span>4 Dec 2022</span></li>
                            <li>Technologies - <span>HTML CSS JS</span></li>
                            <li>Role - <span>Frontend</span></li>
                            <li>View - <span><a href="#">www.domain.com</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Popup -->
        <div class="portfolio__popup">
            <div class="portfolio__popup-inner">
                <div class="portfolio__popup-content grid">
                    <span class="portfolio__popup-close">
                        <i class="uil uil-times"></i>
                    </span>
                    
                    <div class="portfolio__popup-info">
                        <div class="portfolio__popup-subtitle">
                            Featured - <span>Design</span>
                        </div>
                        <div class="portfolio__popup-body">
                            <h3 class="details__title">GEC</h3>
                            <p class="details__description">
                                Every company needs its networks properly administered and The Boring Compay is no exception. Digging holes is hard and I play my part making sure the whole company stays connected. I lead a team of 5 people and enjoy driving the company to try new technologies.
                            </p>
                            <ul class="details__info">
                                <li>Created - <span>4 Dec 2022</span></li>
                                <li>Technologies - <span>HTML CSS JS</span></li>
                                <li>Role - <span>Frontend</span></li>
                                <li>View - <span><a href="#">www.domain.com</a></span></li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!--===== Services =====-->
        <section class="services section" id="services">
            <h2 data-heading="Services" class="section__title">Waht I Offer</h2>
            <div class="services__container container grid">
                <div class="services__content">
                    <div>
                        <i class="uil uil-web-grid services__icon"></i>
                        <h3 class="services__title">
                            Web <br> Designer
                        </h3>
                    </div>
                    <span class="services__button">
                        View More <i class="uil uil-arrow-right services__button-icon"></i>
                    </span>
                    <div class="services__modal">
                        <div class="services__modal-content">
                            <i class="uil uil-times services__modal-close"></i>
                            <h3 class="services__modal-title">Web Development</h3>
                            <p class="services__modal-description">
                                The output from the entity extraction module is fed into the Bert language model for sequence classification. The entities in the text are annotated with the E1 and E2 markers as shown in this flowchart. The output of this model is the sentence encodings giving more weightage on the two entities marked. This sentence embedding is nothing but the relation embedding between the two entities.
                            </p>
                            <ul class="services__modal-services grid">
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p class="services__modal-info">
                                        Encoding each node into a vector
                                    </p>
                                </li>
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p class="services__modal-info">
                                        Defining a scoring function
                                    </p>
                                </li>
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p class="services__modal-info">
                                        Optimizing the scoring function.
                                    </p>
                                </li>
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p class="services__modal-info">
                                        Awesome! That is it. That is all you needed to build a basic Knowledge Graph. 
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="services__content">
                    <div>
                        <i class="uil uil-web-grid services__icon"></i>
                        <h3 class="services__title">
                            UI/UX <br> Designer
                        </h3>
                    </div>
                    <span class="services__button">
                        View More <i class="uil uil-arrow-right services__button-icon"></i>
                    </span>
                    <div class="services__modal">
                        <div class="services__modal-content">
                            <i class="uil uil-times services__modal-close"></i>
                            <h3 class="services__modal-title">Web Development</h3>
                            <p class="services__modal-description">
                                The output from the entity extraction module is fed into the Bert language model for sequence classification. The entities in the text are annotated with the E1 and E2 markers as shown in this flowchart. The output of this model is the sentence encodings giving more weightage on the two entities marked. This sentence embedding is nothing but the relation embedding between the two entities.
                            </p>
                            <ul class="services__modal-services grid">
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p class="services__modal-info">
                                        Encoding each node into a vector
                                    </p>
                                </li>
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p class="services__modal-info">
                                        Defining a scoring function
                                    </p>
                                </li>
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p class="services__modal-info">
                                        Optimizing the scoring function.
                                    </p>
                                </li>
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p class="services__modal-info">
                                        Awesome! That is it. That is all you needed to build a basic Knowledge Graph. 
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="services__content">
                    <div>
                        <i class="uil uil-web-grid services__icon"></i>
                        <h3 class="services__title">
                            Branding <br> Designer
                        </h3>
                    </div>
                    <span class="services__button">
                        View More <i class="uil uil-arrow-right services__button-icon"></i>
                    </span>
                    <div class="services__modal">
                        <div class="services__modal-content">
                            <i class="uil uil-times services__modal-close"></i>
                            <h3 class="services__modal-title">Web Development</h3>
                            <p class="services__modal-description">
                                The output from the entity extraction module is fed into the Bert language model for sequence classification. The entities in the text are annotated with the E1 and E2 markers as shown in this flowchart. The output of this model is the sentence encodings giving more weightage on the two entities marked. This sentence embedding is nothing but the relation embedding between the two entities.
                            </p>
                            <ul class="services__modal-services grid">
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p class="services__modal-info">
                                        Encoding each node into a vector
                                    </p>
                                </li>
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p class="services__modal-info">
                                        Defining a scoring function
                                    </p>
                                </li>
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p class="services__modal-info">
                                        Optimizing the scoring function.
                                    </p>
                                </li>
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p class="services__modal-info">
                                        Awesome! That is it. That is all you needed to build a basic Knowledge Graph. 
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <!--===== Testimonials =====-->
        <section class="testimonials section">
            <h2 data-heading="My Client Say" class="section__title">Testimonials</h2>
            <div class="testimonials__container container swiper">
                <div class="swiper-wrapper">
                    <div class="testimonial__card swiper-slide">
                        <div class="testimonial__quote">
                            <i class="bx bxs-quote-alt-left"></i>
                        </div>
                        <p class="testimonial__desciption">
                            Relationships are represented as translations in the embedding space.
                        </p>
                        <h3 class="testimonial__date">March 27 2020</h3>
                        <div class="testimonial__profile">
                            <img src="{{ url_for('static', filename='img/client1.jpg') }}" alt="" class="testimonial__profile-img">
                            <div class="testimonial__profile-data">
                                <span class="testimonial__profile-name">John Doe</span>
                                <span class="testimonial__profile-details">VP craftmont</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial__card swiper-slide">
                        <div class="testimonial__quote">
                            <i class="bx bxs-quote-alt-left"></i>
                        </div>
                        <p class="testimonial__desciption">
                            Relationships are represented as translations in the embedding space. 
                        </p>
                        <h3 class="testimonial__date">March 27 2020</h3>
                        <div class="testimonial__profile">
                            <img src="{{ url_for('static', filename='img/client1.jpg') }}" alt="" class="testimonial__profile-img">
                            <div class="testimonial__profile-data">
                                <span class="testimonial__profile-name">John Doe</span>
                                <span class="testimonial__profile-details">VP craftmont</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial__card swiper-slide">
                        <div class="testimonial__quote">
                            <i class="bx bxs-quote-alt-left"></i>
                        </div>
                        <p class="testimonial__desciption">
                            Relationships are represented as translations in the embedding space. 
                        </p>
                        <h3 class="testimonial__date">March 27 2020</h3>
                        <div class="testimonial__profile">
                            <img src="{{ url_for('static', filename='img/client1.jpg') }}" alt="" class="testimonial__profile-img">
                            <div class="testimonial__profile-data">
                                <span class="testimonial__profile-name">John Doe</span>
                                <span class="testimonial__profile-details">VP craftmont</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div> 
            </div>
        </section>
        <!--===== Contact =====-->
        <section class="contact section" id="contact">
            <h2 data-heading="Get in touch" class="section__title">Contact me</h2>
            <div class="contact__container container grid">
                <div class="contact__content">
                    <div class="contact__info">
                        <div class="contact__card">
                            <i class="uil uil-envelope-edit contact__icon"></i>
                            <h3 class="contact__card-title">Email</h3>
                            <span class="icontact__card-data">user@gmail.com</span>
                            <span class="contact__button">
                                Write Me <i class="uil uil-arrow-right contact__button-icon"></i>
                            </span>
                        </div>
                        <div class="contact__card">
                            <i class="uil uil-whatsapp contact__icon"></i>
                            <h3 class="contact__card-title">WhatsApp</h3>
                            <span class="icontact__card-data">user@gmail.com</span>
                            <span class="contact__button">
                                Write Me <i class="uil uil-arrow-right contact__button-icon"></i>
                            </span>
                        </div>
                        <div class="contact__card">
                            <i class="uil uil-facebook-messenger contact__icon"></i>
                            <h3 class="contact__card-title">Messenger</h3>
                            <span class="icontact__card-data">user@gmail.com</span>
                            <span class="contact__button">
                                Write Me <i class="uil uil-arrow-right contact__button-icon"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="contact__content">
                    <form action="" class="contact__form">
                        <div class="input__container">
                            <input type="text" class="input">
                            <label for="">Username</label>
                            <span>Username</span>
                        </div>
                        <div class="input__container">
                            <input type="email" class="input">
                            <label for="">Email</label>
                            <span>Email</span>
                        </div>
                        <div class="input__container">
                            <input type="tel" class="input">
                            <label for="">Phone</label>
                            <span>Phone</span>
                        </div>
                        <div class="input__container textarea">
                            
                            <textarea  class="input"></textarea>
                            <label for="">Message</label>
                            <span>Message</span>
                        </div>
                        <button type="submit" class="button">
                            <i class="uil uil-navigator button__icon"></i>
                            Send Message
                        </button>
                    </form>
                </div>
            </div>
        </section>
        <!--===== FOOTER =====-->
        <footer class="footer">
            <div class="footer__bg">
                <div class="footer__container container grid">
                    <div>
                        <h1 class="footer__title">
                            Indresh
                        </h1>
                        <span class="footer__subtitle">Data Scientist</span>
                    </div>
                    <ul class="footer__links">
                        <li>
                            <a href="#services" class="footer__link">Services</a>
                        </li>
                        <li>
                            <a href="#work" class="footer__link">Work</a>
                        </li>
                        <li>
                            <a href="#contact" class="footer__link">Contact</a>
                        </li>
                    </ul>
                    <div class="footer__socials">
                        <a href="" class="footer__social">
                            <i class="uil uil-instagram"></i>
                        </a>
                        <a href="" class="footer__social">
                            <i class="uil uil-instagram"></i>
                        </a>
                        <a href="" class="footer__social">
                            <i class="uil uil-instagram"></i>
                        </a>
                    </div>
                </div>
                <p class="footer__copy">&#169, Indresh Bhattacharya. All rights reseved</p>
            </div>

        </footer>
    </main>

    <!--========== SCROLL UP ==========-->
    

    <!--========== MIXITUP FILTER ==========-->
    
    <script src="{{url_for('static',filename='js/mixitup.min.js')}}"></script>
    <!--========== SWIPER JS ==========-->
    
    <script src="{{url_for('static',filename='js/swiper-bundle.min.js')}}"></script>

    <!--========== MAIN JS ==========-->
    
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
    
</body>

</html>